/* TextSpazio.module.css */

/* Estilos para el banner */
.banner {
    padding: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    color: #fff;
    position: relative;
    overflow: hidden;

    box-sizing: border-box;
    contain: content;
}

/* Estilos para el contenido del banner */
.planes {
    text-align: center;
    color: #fff;
    padding: 20px;
    max-width: 800px;
    width: 100%;
}

/* Estilos para el slogan */
.planes h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .planes h3 {
        font-size: 2rem; /* 32px */
    }
}

/* Efectos de partículas */
@keyframes particle {
    0% {
        transform: translateY(0) translateX(0);
    }
    100% {
        transform: translateY(-100vh) translateX(50vw);
    }
}

.particle {
    position: absolute;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    animation: particle 10s linear infinite;
    opacity: 0.8;
    overflow: hidden;
    contain: content;
}